<div class="jumbotron">
    <h1 class="display-4">{{nombre}}</h1>
        
        <img src="assets/img/burguer-image.jpeg" class="img-thumbnail">
        <h3>Healthy & tasty burguers for you...</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores natus placeat quidem in animi odio. Officia molestiae omnis placeat eaque dolorum quas harum minus culpa illo quisquam vero, rerum inventore?</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> <!-- end jumbotron -->

<h1>Hola mundo</h1>